
<!-- Modal -->
<div class="modal fade" id="editStudent" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Student</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Firstname</label>
            <div class="col-sm-10">
              <input class="form-control" [(ngModel)]="firstName" name="firstName" type="text" placeholder="Firstname" id="example-email-input">
            </div>
          </div>

            <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Lastname</label>
            <div class="col-sm-10">
              <input class="form-control" [(ngModel)]="lastName" name="lastName" type="text" placeholder="Lastname" id="example-email-input">
            </div>
          </div>

            <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
              <input class="form-control" [(ngModel)]="username" name="username" type="text" placeholder="Username" id="example-email-input">
            </div>
          </div>

            <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Age</label>
            <div class="col-sm-10">
              <input class="form-control" [(ngModel)]="age" name="age" type="text" placeholder="Age" id="example-email-input">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-10">
              <input class="form-control" [(ngModel)]="phone" name="phone" type="text" placeholder="Phone" id="example-email-input">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Emergency No</label>
            <div class="col-sm-10">
              <input class="form-control" [(ngModel)]="emergencyNo" name="emergencyNo" type="text" placeholder="Emergency" id="example-email-input">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Fee</label>
            <div class="col-sm-10">
              <input class="form-control" [(ngModel)]="fee" name="fee" type="text" placeholder="Fee" id="example-email-input">
            </div>
          </div>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="editStudent( student )">Save changes</button>
      </div>
    </div>
  </div>
</div>